:root {
    --dark-bg-color: rgb(34, 5, 108);
    --light-bg-color: rgb(54, 25, 158);
    --gray-font-color: rgb(150, 150, 150);
    --rock-pink: rgb(233, 68, 233);
    --paper-green: rgb(101, 219, 188);
    --scissors-blue: rgb(55, 122, 227);
}

body {
    background-color: var(--dark-bg-color);
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    background-color: var(--light-bg-color);
    color: var(--gray-font-color);
    font-family: "American Typewriter", serif;
}

.title {
    font-size: 60px;
}

.screenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: var(--gray-font-color);
    font-family: "American Typewriter", serif;
}

.scoreBoardContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 30px;
    width: 450px;
    align-items: center;
}

.scoreBoxContainer {
    display: flex;
}

.scoreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
}

.gameStatus {
    margin-top: 40px;
    margin-bottom: -40px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.btn {
    width: 156px;
    height: 156px;
    background-color: var(--dark-bg-color);
    border: none;
    padding: 0;
    margin: 0;
}

.Rock {
    border: 3px solid var(--rock-pink);
}

.Paper {
    border: 3px solid var(--paper-green);
}

.Scissors {
    border: 3px solid var(--scissors-blue);
}